body {
    padding-top: 80px;
}
#trailer .modal-dialog {
    margin-top: 200px;
    width: 640px;
    height: 480px;
}
h1 {
    text-align: center;
    color: darkgoldenrod;
}
h2 {
    color: darkgoldenrod;
}
div.tooltip {
    position: absolute;           
    text-align: center;           
    padding: 2px;             
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 0px;      
    border-radius: 8px;           
    pointer-events: none;   
}
.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;
}
.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
}
.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}
